<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=devise-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Document</title>
         </head>
    <body>
        
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">modello</th>
                <th scope="col">marca</th>
                <th scope="col">prezzo</th>
                <th scope="col">descrizione</th>
              </tr>
            </thead>
            <tbody>
                <%bicisList.forEach(bike => {%>
                    
                    <tr>
                        
                        <th scope="row" name="id"><%= bike.id %></th>
                        <td name="modello"><%= bike.Modello %></td>
                        <td name="marca"><%= bike.Marca %></td>
                        <td name="prezzo"><%= bike.Prezzo %></td>
                        <td name="descrizione"><%= bike.Descrizione %></td>
                    
                        <td><% if(bike.Stato){ %>
                            libera
                            <% }else{%>
                                prenotata
                            <% }%>
                                </td>
                    
                    </tr> 
                
                <%})%>
                <form id="prova" method="post" action="/prenota">
                    <br>Inserire ID bici per prenotarla oggi<br>
                    <input type="textarea" name="id">
                    <input type="submit" value="prenota" class="btn btn-success">
                </form>
            </tbody>
          </table>
    </body>
</html>